/*清除默认样式*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 300;
}


/*设置body主体字体样式*/
body {	
	/*webkit*/
	font-family:"Microsoft YaHei";
	color: #ee9ca7;
	font-weight: 300;
}


/* input提示文字placeholder更改 */
body ::-webkit-input-placeholder {
	/* WebKit browsers */
	font-family:"Microsoft YaHei";
	color: #ee9ca7;
	font-weight: 300;
}
body :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-family:"Microsoft YaHei";
	color: #ee9ca7;
	opacity: 1;
	font-weight: 300;
}
body ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-family:"Microsoft YaHei";
	color: #ee9ca7;
	opacity: 1;
	font-weight: 300;
}
body :-ms-input-placeholder {
	/* Internet Explorer 10+ */
	font-family:"Microsoft YaHei";
	color: #ee9ca7;
	font-weight: 300;
}


/*网页主体包围*/
.wrapper {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 2030px;
	overflow: hidden;
	background: #EE9CA7;
	background: -webkit-linear-gradient(top left, #EE9CA7 0%, #EE9CA7 100%);
	background: linear-gradient(to bottom right, #EE9CA7 0%, #EE9CA7 100%);
	background-color:rgba(255,255,255,0.9);
}
/*主体内容盒子样式*/
.container{
	width: 1100px;
	height: 2030px;
	margin: 0 auto;
	background:url(img/8.png) no-repeat 0 -10px;
}


/*标题——面试信息表（img）*/
.title{
	width: 400px;
	height: 200px;
	float: left;
	margin-left: 280px;
	margin-top: 70px;
}
/*标题右侧头像（img）*/
.photo{
	width: 250px;
	height: 210px;
	margin-left: 50px;
	margin-top: 60px;
	float: left;
}
.photo img{
	width: 200px;
	height: 200px;
}


/*基本信息盒子*/
.base{
	clear: both;
	width: 800px;
	height: 600px;
	margin: 0 auto;
}
/*调整table位置*/
.tableOne{
	padding-top: 40px;
	padding-left: 80px;
}
/*td基本样式*/
.tableOne td{
	width: 410px;
	height: 100px;
}
/*基本信息汉字名称样式*/
.baseName{
	font-family: "Microsoft YaHei";
	font-size: 26px;
	color: #68838B;
	float: left;
}
.expression{
	font-family: "Microsoft YaHei";
	font-size: 26px;
	color: #68838B;
	float: left;
	margin-left: 35px;
}
/*表单基本样式*/
form {
	padding: 20px 0;
	position: relative;
	z-index: 2;
}
form input {
	display: block;
	width: 200px;
	/*边框，位置以及背景样式*/
	outline: 0;
	border-radius: 3px;
	margin-left: 40px;
	padding: 6px 15px;
	border: 1.5px solid rgba(255, 255, 255, 1.0);
	background-color: rgba(255, 255, 255, 0.2);
	/*字体样式*/
	font-family: "Microsoft YaHei";
	font-weight: 300;
	font-size: 22px;
	color: #ee9ca7;
	text-align: center;
	/*变化持续时长*/
	-webkit-transition-duration:background-color 0.25s;
	transition-duration:background-color 0.25s;
	float: left;
}
form input:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
form input:focus {
	background-color: white;
}

/*性别，邮箱设置*/
.sex input{
	display: inline;
	float: none;
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 56px;
	margin-right: 12px;
	vertical-align: bottom;
}
.sexChoose{
	font-size: 20px;
	color:#68838B;
}
.email input{
	width: 350px;
}
/*个人简介*/
.introduce{
	width: 660px;
	height: 180px;
	margin: 0 auto;
	margin-top: 20px;
}
.introLeft
{
	float: left;
	width: 80px;
	height:180px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 5px;
}
.introRight{
	float: left;
	width: 570px;
	height: 180px;
	margin-left: 10px;
	padding-top: 10px;
	padding-left: 10px;
}
.introRight textarea{
	width: 560px;
	height: 160px;
	border-radius: 10px;
	outline: none;
	resize: none;

	margin-left: 5px;
	padding: 10px 20px;

	font-family: "Microsoft YaHei";
	font-weight: 300;
	font-size: 22px;
	color: #ee9ca7;
	text-indent: 2em;
	letter-spacing:2px;
	line-height: 35px;

	border: 1.5px solid rgba(255, 255, 255, 1.0);
	background-color: rgba(255, 255, 255, 0.2);

	-webkit-transition-duration:background-color 0.25s;
	transition-duration:background-color 0.25s;
	float: left;
}
form textarea:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
form textarea:focus{
	background-color: white;
}
/*面试评语部分*/

/*调整table位置*/
.comments{
	margin-top: 50px;
	margin-left: 80px;
}
/*td基本样式*/
.comments .topLeft{
	width: 540px;
	height: 70px;
}
.comments .topRight{
	padding-left: 20px;
	width: 120px;
	height: 70px;
}
.comments .botLeft{
	width: 540px;
	height: 200px;
}
.comments .botRight{
	width: 120px;
	height: 200px;
}
.comName{
	font-family: "楷体";
	font-weight: 300;
	font-size: 30px;
	color: #68838B;
	letter-spacing: 10px;
	text-align: center;
}
.content{
	width: 500px;
	height: 180px;
	
	margin-left: 20px;
	margin-top: 10px;
	padding: 10px 20px;
	border-radius: 10px;
	outline: none;
	resize: none;

	border: 1.5px solid rgba(255, 255, 255, 1.0);
	background-color: rgba(255, 255, 255, 0.2);

	-webkit-transition-duration:background-color 0.25s;
	transition-duration:background-color 0.25s;

	font-family: "Microsoft YaHei";
	font-weight: 300;
	font-size: 22px;
	color: #ee9ca7;
	text-indent: 2em;
	letter-spacing:2px;
	line-height: 35px;
}
.content:hover {
	background-color: rgba(255, 255, 255, 0.6);
}
.content:focus{
	background-color: white;
}
.score{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	background: url(img/score.png) center no-repeat;
	background-color: rgba(255, 255, 255, 0.6);
}
/*页脚按钮*/
.footSon1{
	width: 270px;
	height: 160px;
	float: left;
	margin-left: 100px;
}
.footSon2{
	width: 270px;
	height: 160px;
	float: left;
	margin-left: 130px;
}
.quit{
	width: 140px;
	height: 50px;
	border:none;
	outline: none;
	cursor: pointer;
	border:3px solid #68838B;
	background-color:rgba(223, 241, 234, 0);
	margin-top: 45px;
	margin-left: 51px;

	font-family: "楷体";
	font-weight: 300;
	font-size: 40px;
	color: #68838B;
	line-height: 36px;
}
.quit:focus{
	background-color:#DFF1EA;
}
.footSon1 img{
	width: 130px;
	height: 50px;
}